[submodule "umbrella"]
	path = umbrella
	url = https://github.com/mwoDevelop/umbrellaplug.github.io.git
[submodule "mwoscrapers"]
	path = mwoscrapers
	url = https://github.com/mwoDevelop/script.module.mwoscrapers.git
[submodule "watchnixtoons2"]
	path = watchnixtoons2
	url = https://github.com/mwoDevelop/ch.repo.git
